<div class="container-main">

    <div class="aside-cont">
        <div class="user-you-cont">
            <div class="user-you">
                <div class="user-block">
                    <img src="assets/img/us.jpg"/>
                    <p *ngIf="loggedUser.toMain">{{loggedUser.toMain.user_data.username}}</p>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="search">
                <input
                        placeholder="  Wyszukaj kontakty">
            </div>
        </div>
        <div class="contats-cont">
            <div class="title">{{statusFriend.mess}}</div>
            <div class="user-you user-margin" (click)="getUser(i,friend.username,loggedUser.toMain.user_data.key)"
                 *ngFor="let friend of friendArr; let i = index">
                <div class="user-block" *ngIf="statusFriend.status">
                    <img src="assets/img/us.jpg"/>
                    <p>{{friend.username}}</p>
                </div>
                <div class="status" *ngIf="statusFriend.status"></div>
            </div>
        </div>
    </div>
    <div class="mess">
        <app-user *ngIf="infoUser !== null" [userInfo]="infoUser"></app-user>
    </div>
</div>
