<div #load class="loading">
</div>
<div class="register-wrapper">
    <div class="register-content">
        <form class="form-wrap" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="register register-login__username">
                <label for="username"></label>
                <div class="i-wrap">
                    <i #i1 [appChangeIconColor]=form.value
                       class="fas fa-users"></i>
                </div>
                <input #input type="text"
                       pattern="[a-zA-Z ]*"
                       id="username"
                       class="input-register"
                       ngModel
                       name="username"
                       placeholder="Podaj nick"
                       required minlength="4"
                       [appChangeIconColor]=form.value.username
                       [elemnt]="i1">
                <span [ngClass]="{valid:this.display===false}"
                    class="warning"  *ngIf="!this.display">{{this.displayMess}}</span>
            </div>
            <div class="register register-login__password">
                <label for="password"></label>
                <div class="i-wrap">
                    <i #i2 class="fas fa-key"></i>
                </div>
                <input type="password"
                       id="password"
                       placeholder="Haslo"
                       class="input-register"
                       ngModel
                       name="password"
                       required minlength="4"
                       [appChangeIconColor]=form.value.password
                       [elemnt]="i2">
            </div>
            <div class="register register-login__password">
                <label for="passwordCheck"></label>
                <div class="i-wrap">
                    <i #i3 [ngStyle]="{color:inpColor3}" class="fas fa-unlock"></i>
                </div>
                <input type="password"
                       id="passwordCheck"
                       class="input-register"
                       placeholder="Powtórz haslo"
                       ngModel
                       name="passwordCheck"
                       appCheckpass="password"
                       required minlength="4"
                       [elemnt]="i3">
            </div>
            <div class="register register-login__email">
                <label for="email"></label>
                <div class="i-wrap">
                    <i #i4 [ngStyle]="{color:inpColor4}" class="fas fa-envelope"></i>
                </div>
                <input type="text"
                       id="email"
                       placeholder="Podaj adres Email"
                       class="input-email"
                       ngModel
                       name="email"
                       required
                       email
                       [appChangeIconColor]=form.value.email
                       [elemnt]="i4">
            </div>
            <button [disabled]="!form.valid" class="button-submit" type="submit">Załóz konto</button>
        </form>
        <span routerLink="/login" class="login">Masz konto? Kliknij by sie zalogować</span>
    </div>
</div>

