
@mixin centerFlex() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin button($wid , $heig) {
    color: #ffffff; 
    background-color: #3aadff; 
    border: none;
    width: $wid;
    height: $heig;
    font-size: 1.2rem
}

$mainColor: #f7f7f7;
$buttonDisabled: #969696;
$width:95%;
$margin:1rem;