<div class="cont">
    <div class="user-cont">
        <div class="user-info">
            <div class="user-block">
                <img src="assets/img/us.jpg"/>
                <p>{{userInfo.name}}</p>
                <div class="option-block">
                    <div class="circle"><i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="circle">
                        <i class="fas fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div (scroll)="onScroll($event)" class="chat-block">
        <div class="chat-block-Output">
            <ng-container *ngFor="let mess of roomMess[0].messenges">
                <div *ngIf="mess.output" class="mess-cont">
                    <div class="output">
                        <p>{{mess.output}}</p>
                    </div>
                </div>
                <div *ngIf="mess.input" class="mess-cont">
                    <div class="input">
                        <p>{{mess.input}}</p>
                    </div>
                </div>
            </ng-container>

        </div>

    </div>
    <div class="type-bar">
        <input [(ngModel)]="logedInput">
        <div (click)="displayMess()" class="send-block">
            <i style="color: white; font-size: 1.6rem" class="fab fa-facebook-messenger"></i>
        </div>
    </div>
</div>
