.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.user-cont {
  width: 100%;
  position: fixed;
  height: 8%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfbfe99;
  box-shadow: 5px -1px 10px 2px #a8a8a8;
}

.user-block img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-block {
  display: flex;
  margin: 0.3rem;
  cursor: pointer;
  justify-content: space-between;
  width: 78%;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #b8b8b8;
  align-items: center;
  border: 2px solid #2196F3;
}

.option-block {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-evenly;
}

.type-bar {
  align-self: flex-end;
  display: flex;
  width: 85%;
  position: relative;
  height: 7vh;
}

.type-bar input {
  border: none;
  font-size: 1.2rem;
  padding-left: 1rem;
  outline: none;
  width: 80%;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
  background-color: #b0e7f76e;
}

.send-block {
  width: 10%;
  height: 100%;
  display: flex;
  position: absolute;
  right: 7%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #247ba1;
}

.fa-location-arrow {
  font-size: 2.5rem;
}

.chat-block {
  display: flex;
  position: absolute;
  top: 5rem;
  width: 100%;
  overflow: scroll;
  height: 81%;
}

.chat-block-Output {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 75%;
}

.input {
  max-height: 20px;
  width: 45%;
  word-wrap: break-word;
  margin-left: 1rem;
  background-color: white;
  border-radius: 20px;
  background-color: #721ee966;
  padding: 0.5rem;

}

.output {
  width: 45%;
  word-wrap: break-word;
  text-align: right;
  align-self: flex-end;
  background-color: #ffffff9c;
  border-radius: 20px;
  padding: 0.5rem;

}

.output p {
  text-align: left;
}

.mess-cont {
  width: 100%;
  order: 1;
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  min-height: 20px;
}


p {
  margin: 0 !important;
}
