<div class="cont">
    <div class="user-cont">
        <div class="user-info">
            <div class="user-block">
                <img src="assets/img/us.jpg"/>
                <p>{{userInfo.name}}</p>
                <div class="option-block">
                    <div class="circle"><i class="fas fa-ellipsis-h"></i>
                    </div>
                    <div class="circle">
                        <i class="fas fa-phone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="type-bar">
            <input>
            <div class="send-block">
                <i style="color: white; font-size: 1.6rem" class="fab fa-facebook-messenger"></i>
    </div>
</div>
